<div class="container">
<h1>Index</h1>
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant), class: "btn btn-primary d-grid btn-margin" %></li>
  <% end %>
</ul>
</div>
<%= link_to "New restaurant", new_restaurant_path, class: "btn btn-gradient" %>
