/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  background-color: #303030;
}
h1{
  color: #ececec;
  padding: 20px 0px 20px 0px;
}
h2, p{
  color: #ececec;
}

.btn-margin{
  margin-bottom: 10px;
}
ul{
  list-style: none;
  padding: 0px;
}

.container{
  justify-content: center;
  text-align: center;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb8916, #c4640f);
  border: 1px solid #0F60C4;
  margin: 0px 55px;
}

.btn-gradient:hover {
  background: linear-gradient(#ff7a14, #da710f);
  color: white;
}

#new_restaurant_btn {
  color: white;
  padding: 8px 6px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb8916, #c4640f);
  border: 1px solid #0F60C4;
  margin: 20px 0px;
}
.btn-danger {
  color: white;
  padding: 8px 6px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#fb8916, #c4640f);
  border: 1px solid #0F60C4;
}
